.parent {
    width: 500px;
    height: 500px;
    box-shadow: 0 0 10px black;
    background-color: antiquewhite;
    position:relative;
left:400px;
top:400px;
}

.child1 {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px black;
    border: 5px solid white;
    border-radius: 5px;
    background-color: aquamarine;
    position: absolute;
    left: 50px;
    top: 0x;
    z-index: 3;
}

.child2 {
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px black;
    border: 5px solid white;
    background-color: burlywood;
    position: absolute;
    left: 0px;
    top:300px;
    z-index: 2;
}