* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page1 {
    width: 100%;
    height: 100vh;
    background-color: lightpink;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}

.page3 {
    width: 100%;
    height: 100vh;
    background-color: burlywood;
}

nav {
    width: 100%;
    height: 60px;
    background-color: black;
    border: 2px solid white;
    text-align: center;
    position: fixed;

}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

a {
    text-decoration: none;
    color: white;
    word-spacing: 60px;
    letter-spacing: 3px;
}

.child1 {
    width: 200px;
    height: 200px;
    background-color: darkred;
    border: 5px solid white;
    box-shadow: 0 0 10px black;
    position: fixed;
    left: 200px;
    top: 100px;

}

.child2 {
    width: 200px;
    height: 200px;
    background-color: darkblue;
    border: 5px solid white;
    box-shadow: 0 0 10px black;
    position: sticky;
    top: 100px;
    left: 500px;

}